{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "{% static 'movies/style.css' %}"/>
    <title>{% block title %}CineWild{% endblock %}</title>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//flang.alwaysdata.net/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>

<body>
        <header>
            <h1>CINEWILD</h1>
            {% if user.is_authenticated %}
            <h2>Hi {{ user.username }}</h2>
            {% else %}
            <h2> <a href="/admin/">Log in</a></h2>
            {% endif %}
            
            
            <nav>
                <ul>
                        <li><a href="{% url 'movies:home' %}">Home</a></li>
                        <li><a href="{% url 'movies:index' %}">Index</a></li>
                        <li><a href="{% url 'movies:choose_movie' %}">Best Movie</a></li>
                        <li><a href="{% url 'movies:about' %}">About</a></li>
                </ul>
            </nav>
        </header>

    <section id="content">
        {% block content %}
            <div id="text">
            <p> Welcome to Cinewild</p>
            </div>
        {% endblock %}
    </section>

</body>
</html>